/* header */
.header-logo {
    height: 50px;
}

.header-text {
    font-size: 1.5rem;
}
/* title */
.special-title {
    font-size: 3rem;
    color: antiquewhite;
}

body {

    background-color: rgb(0, 0, 0);
}

.product-card {

    border-radius: 30px;
    height: 360px;
    object-fit: cover;
    width: 100%;
}
.card-img-top {
    border-radius: 30px;
    height: fit-content;
}

.card-img-top1{
    border-radius: 30px;
    
}

.d-block{
    border-radius: 30px;
}

.card-img-top1 {
    border-radius: 30px;
}

.d-block {
    border-radius: 30px;
}

/* Blinking Live Button */
.blinking-live {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
